@font-face {
    font-family: Product Sans;
    src: url('/Fonts/Product\ Sans\ Bold.ttf');
}

* { /* Zera margens e paddings de todos os elementos */
    font-family: Product Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body { /* Define altura e largura de todo o site como 100% */
    height: 100%;
    width: 100%;
} 

body::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem vertical */
}

#main {
    width: 100%;
    height: 100vh; 
    background: orangered;
}

.nav-container {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    height: 10vh;   
    z-index: 99; 
}

.nav-container img {
    width: 25px;
    height: 25px;
    object-fit: cover; /* Manter a proporção idependente do tamanho*/
}

.nav-container a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-menu {
    display: flex;
    gap: 50px; /* Espaçamento entre os itens do menu */
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 0, 0) ); /* Degradê */
}

#hero h1 {
    color: white;
    font-size: 25vw;
}

#lata-fanta {
    position: absolute; /* Permite mover o elemento livremente */
    width: 40%;
    z-index: 2; /* Garante que a imagem fique acima de outros elementos */
}

#laranja-cortada {
    position: absolute;
    width: 15%;
    top: 10%;
    width: 15%;
    left: 32%;
    z-index: 2;
}

#laranja {
    position: absolute;
    width: 20%;
    top: 56%;
    right: 29%;
    z-index: 3;
}

#folha {
    position: absolute;
    width: 18%;
    top: 10%;
    left: 0%;
    transform: rotate(60deg);
}

#folha2 {
    position: absolute;
    width: 10%;
    top: 70%;
    right: 10%;
    transform: rotate(-90deg);
}

#folha3 {
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}


/* Segunda sessão */

#two {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #4d231c;
}

.left-side, .right-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.left-side svg {
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(50deg);
}

.right-side h2  {
    color: white;
    font-size: 5vw; /*vw -> por cento da tela inteira */
}

.right-side p {
    color: white;
    font-size: 1vw;
    width: 80%;
}

/* Terceira sessão */

#three {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 0, 0) );
    gap: 5vh;
    
}
.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 25vw;
    flex-direction: column;
    gap: 2vh;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 20px;
}


.card h3{
    margin-top: 40vh;
    font-size: 3vw;
    color: black;
}

.bnt{
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 149, 0);
    color: white;
    padding: 1vw 2vw;
    width: 10vw;
    cursor: pointer;
    transition: all 0.5s ease;
}

.bnt:hover {
    background-color:#4d231c;
    transition: all 0.5s ease;
    transform: scale(1.08);
}

#cocacola {
    position: absolute;
    top: -10%;
    width: 57%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#pepsi {
    position: absolute;
    top: -15%;
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.lemon {
    position: absolute;
    top: -30%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0%);
}